@font-face {
  font-family: "CircularSpBold";
  src: local("CircularSpBold"), url("../../shared/fonts/CircularSpBold.ttf") format("truetype");
}

@font-face {
  font-family: "CircularSpBook";
  src: local("CircularSpBook"), url("../../shared/fonts/CircularSpBook.ttf") format("truetype");
}
