@font-face {
  font-family: CircularSpCyrlBold;
  src: url("../../shared/fonts/CircularSpCyrlBold.ttf") format("truetype");
}

@font-face {
  font-family: CircularSpCyrlBook;
  src: url("../../shared/fonts/CircularSpCyrlBook.ttf") format("truetype");
}

@font-face {
  font-family: CircularSpBold;
  src: url("../../shared/fonts/CircularSpBold.ttf") format("truetype");
}

@font-face {
  font-family: CircularSpBook;
  src: url("../../shared/fonts/CircularSpBook.ttf") format("truetype");
}
