@import "normalize";
@import "vars";

body {
  font-family: var(--font-circular-sp-book-family);
  background-color: var(--backround-color);
  min-height: 100vh;
  color: var(--primary-text-color);
}
