.button {
  font-family: var(--font-circular-sp-bold-family);
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  font-size: 32px;
  line-height: 40px;
  padding: 16px;
  border-radius: 100px;
}
